name: 'Release new version'
on:
  workflow_dispatch:
    inputs:
      increment:
        description: "Increment Type (major, minor, patch)"
        required: true
        default: 'patch'
        type: 'choice'
        options:
          - 'major'
          - 'minor'
          - 'patch'
jobs:
  release:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Cache node_modules
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-node-

      - name: Install Deps
        run: npm install

      - name: Build
        run: npm run build && git add .

      - name: Check CI
        id: check-ci
        uses: ronymeyer/workflow-check@master
        with:
          #token: ${{ secrets.GITHUB_TOKEN }} # as we run on the same repo we don't need to specify the token. In other repos token needs to be specified.
          currentRunId: 0  # we give an invalid run id which results in finding this current run as running, therefore reporting running job found.
          runnerLabel: "ubuntu-latest"

      - name: Release
        if: ${{ steps.check-ci.outputs.foundRunningJob == 'true' }}
        run: |
          git config --global user.name 'Rony'
          git config --global user.email 'workflow-check.github.com@spot-light.ch'
          npm run release -- --ci --increment ${{ github.event.inputs.increment }}
